body{
    font-family: 'Gentium Basic', serif;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
    color: #595758;
    margin:0;
    padding:0;
    background-color: #fff;
}
h1 , h1 , h3 , h4 , h5 , h6{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #091E42;
    font-family: 'Arvo', serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.sider{
    padding-left: 5rem;
    padding-right:5rem;
}
.navbar{
    background-color: #281326;
    padding: 5px 0px;
}
.navbar ul li .nav-link{
    color: #e7c854;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition-property: background-color;
    transition-delay: 0ms;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    display: block;
    position: relative;
    z-index:1; 
}
.veg{
    color: #e7c854;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition-property: background-color;
    transition-delay: 0ms;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    z-index:1; 
}
.cuisine{
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.nav-item.active{
    border-bottom: 3px solid #e7c854;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.nav-item:hover{
    border-bottom: 3px solid #e7c854;
}
.carousel-caption {
    position: absolute;
    /* right: 15%; */
    left: 1%;
    bottom: 50%;
    /* left: -3%; */
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
}
.meet{
    text-align: justify;
    line-height: 92px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 75px;
    white-space: normal;
    min-width: 769px;
    max-width: 769px;
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.champaran{
    margin-bottom: 8.5rem;
    padding-top: 6rem;
}
.champaran h2{
    font-size: 2.7rem;
    line-height: 4.5rem;
    margin-bottom: 2.5rem;
    color: #262123;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.champaran p{
    text-align: justify;
    margin-bottom: 1.5rem;
    color: #262123;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.mad-read-more {
    background-color: #e7c854;
    padding: 20px 25px;
    border-radius: 12px;
    color: #281326;
    font-weight: bold;
    font-size: 1.5rem;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    line-height: 1.5rem;
    width: fit-content;
}
.food .card{
    position: relative;
    height:285px;
    overflow: hidden;
    border-radius: 1rem;
    border: none;
    
}
.fooding:hover img {
    transform: scale(1.1);
}

.fooding img{
    transition: transform 1.1s;
    width:100%; 
    height:auto;
    border-radius: 1rem;
}
.fooding1:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}
/* .fooding1:after{
    z-index: 0;
    content: '';
    background: rgba(38,33,35,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.fooding1 img{
    transition: transform 1.1s;
    width:100%; 
    height:220px;
    border-radius: 1rem;
}
/* .food .card-body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1.5rem;
    border: 3px solid #fff;
} */
.mad-card-text {
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}
.food h2{
    margin-bottom: 2.5rem;
    color: #fff;
    font-size: 2.7rem;
    line-height: 4.5rem;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.mad-read-order{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    line-height: 1.5rem;
    width: fit-content;
}
.food .card .fooding:after{
    z-index: 0;
    content: '';
    background: rgba(38,33,35,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.food .card .fooding:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1.5rem;
    border: 3px solid #fff;
    z-index: 2;
}
.mad-testiomonial-info{
    margin-bottom: 2rem;
}
.mad-testiomonial-info blockquote{
    font-size: 1.875rem;
    line-height: 3rem;
    font-weight: bold;
    position: relative;
    font-family: "Gentium Basic", serif;
    font-style: italic;
    color: #281326;
    z-index: 1;
    text-align: center;
}
.mad-author {
    font-size: 1rem;
    color: #595758;
}
.mad-author cite {
    color: #281326;
    display: block;
    font-size: 1.25rem;
    font-style: normal;
    margin-bottom: 0.5rem;
}
.mad-author > span {
    display: inline-block;
}
.slick-prev::before, .slick-next::before {
    font-size: 20px;
    opacity: 1;
    color: #e7c854 !important;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 41%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #07133D !important;
    border: none;
    outline: none;
    background: transparent!important;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #e7c854;
}
.mad-footer {
    position: relative;
    padding: 4.5rem 0 2rem;
    line-height: 1.5rem;
    background: url(../images/footer.jpg) no-repeat #1c181a;
    background-size: contain;
    color: #7a7879;
    text-align: center;
}
.content-element-8:not(:last-child) {
    margin-bottom: 4rem;
}
.mad-footer .mad-widget {
    font-size: inherit;
    line-height: inherit;
    color: #fff;
}
.mad-footer .mad-widget-title {
    font-size: 30px;
    color: #fff;
    letter-spacing: 0.3px;
    margin-bottom: 1.5rem;
}
.mad-footer .mad-widget p:not(:last-child) {
    margin-bottom: 1rem;
    color: #fff;
}
.mad-social-icons > ul {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    margin: 0 -0.9375rem -1rem;
}
.mad-social-icons ul li {
    padding: 0 0.9375rem 1rem;
}
.mad-social-icons.size-big ul li a {
    font-size: 2rem;
    color: #fff;
}

.mad-colorizer-bg-image{
    background-size: auto;
    background-attachment: fixed;
    background-image: url(../images/footer1.jpg);
    background-repeat: no-repeat;
    /* left: -75.6px;
    right: -75.6px; */
    background-position: 50% 21px;
    height:500px;
    position: relative;
}
.article-body:after{
    z-index: 0;
    content: '';
    background: rgba(38,33,35,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.article-text{
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}
.article-text h2{
    color: #fff;
    margin-bottom: 2.5rem;
    letter-spacing: -0.3px;
    font-size: 2.7rem;
    line-height: 4.5rem;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.about{
    background-image: url(../images/about.jpg);
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:400px;
}
.article-text h1{
    color: #fff;
    font-size: 4.5rem;
    line-height: 6rem;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.article-text .mad-breadcrumb-path:not(:last-child) {
    margin-bottom: 0.5rem;
}
.article-text .mad-breadcrumb-path{
    font-size: 1.25rem;
    line-height: 1.5rem;
    vertical-align: baseline;
    margin: 0 -0.3rem;
    color: #fff;
}
.article-text .mad-breadcrumb-path > span {
    display: inline-block;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: #fff;
}
.home{
    color: #fff!important;
    font-weight: 700;
    font-size: 22px;
}
.home:hover {
    color: #fff;
    border-bottom: 4px solid #e7c854;
}
.about-content{
    padding-top: 6rem;
}
.about-content h2{
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 2.7rem;
    line-height: 4.5rem;
    color: #262123;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.about-content p{
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #000;
    text-align: justify;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    border-radius: 1rem;
    border: none;
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 1rem;
    border: none;
  }
  .modal img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
.order{
    font-size: 2.25rem;
    line-height: 3rem;
    color: #262123;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
    margin-bottom: 1.5rem;
}
.mad-our-info.size-2 {
    font-family: 'Gentium Basic', serif;
    color: #000;
    font-size: 1.25rem;
    line-height: 2rem;
}
.mad-our-info li {
    display: flex;
}
.mad-our-info.size-2 li i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #281326;
    position: relative;
}
.mad-our-info li .mad-dir:not(:first-child), .mad-vr-list li .mad-dir:not(:first-child) {
    margin-top: 1rem;
}
.mad-dir {
    display: inline-block;
    font-family: 'Gentium Basic', serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: normal;
    color: #000;
}
.mad-tt-element {
    display: block;
    position: relative;
    background: #281326;
    border-radius: 1rem;
    padding: 4.5rem 2rem 2rem 2rem;
    color: #e7c854;
    z-index: 1;
}
.mad-tt-element .mad-title {
    color: #e7c854;
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.mad-timetable:not(:last-child) {
    margin-bottom: 2rem;
}
.mad-vr-list {
    font-size: 1.25rem;
    line-height: 2rem;
}
.mad-vr-list ul li:not(:last-child), .mad-tag-list > li:not(:last-child) {
    margin-bottom: 1rem;
}
.mad-timetable .mad-tt-title {
    font-weight: bold;
}
.mad-our-info.size-2 li i {
    font-size: 1.5rem;
}
.close {
    position: absolute;
    top: 150px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.mad-back-to-top {
    width: 56px;
    height: 56px;
    padding: 0;
    text-align: center;
    position: fixed;
    z-index: 103;
    right: 62px;
    border-radius: 1rem;
    top: 60%;
    color: #232831;
    background: #e0e1e3;
    border: 1px solid #e0e1e3;
}
.mad-back-to-top i{
    font-size: 2rem;
    line-height: 3.5rem;
}
.mad-our-info.size-2 li i {
    font-size: 18px!important;
    margin-top: 8px!important;
}
.carousel-indicators [data-bs-target] {
    width: 60px!important;
}
.indexing{
    position: relative;
    z-index: -1!important;
}
.card-booking{
    border-radius: 6px;
    list-style: none;
    padding: 12px 12px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-color: #fff!important;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.veg-egg{
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 4px 0;
    max-height: inherit;
    text-overflow: unset;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: visible;
    max-width: 100%;
    white-space: normal;
}
.veg-egg:before {
    background-image: url(https://champaranmeatco.com/onlineorder/img/ic_egg.svg);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px;
    margin: 3px 6px 0px 0px;
    vertical-align: text-top;
}
.foodmenu .menu-item-text {
    line-height: 20px;
    color: #666;
    padding: 0 0 5px 0;
    font-size: 14px;
}
.rupees{
    font-weight: 600;
    line-height: 16px;
    font-size: 16px;
    padding: 0;
}
.menu-item-price-wrap{
    border-radius: 3px;
    background: #31A439;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem 1.6rem;
}
.menu-center{
    position: absolute;
    top: 200px;
    left: 350px;
}
.min-width{
    width: 610px !important;
}
.category-title {
    text-transform: capitalize;
    padding: 0 0 12px 0;
    margin: 10px 0 40px 0;
    font-size: 18px;
    position: relative;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
}
.category-title span{
    border-bottom:5px solid #0B9444;
    padding-bottom: 6px;
    border-radius: 3px;
}
/* .category-title span:after {
    content: "";
    height: 5px;
    width: 100%;
    bottom: -12px;
    position: absolute;
    left: 0;
    border-radius: 4px;
} */
/* .aman{
    position: absolute;
    top: 50%;
    left: 50%;
    width:300px;
    height: 400px;
    z-index: 1!important;
} */
.order-form{
    color: #333;
    background-color: rgba(255,255,255,0.95);
    bottom: auto;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2rem 3rem;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 1!important;
}
.order-form h4 {
    text-align: left;
    padding: 0 0 15px 0;
    font-size: 16px;
    margin: 0;
    line-height: 1.2;
}
.letter-space{
    letter-spacing: 2px!important;
    padding: 0 0 15px 0!important;
    font-size: 24px!important;
    line-height: 1.2!important;
}
.order-form .white-bg {
    border: 1px solid #0B9444;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
}
.reset{
    border: none!important;
    background-color: transparent!important;
}
.pick-up .custom-control-label {
    background-image: url(https://champaranmeatco.com/onlineorder/img/pickup.svg);
    /* height: 35px; */
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-weight: 500;
}
.custom-control {
    font-weight: 600!important;
    font-size: 1rem;
}
.addresstyperadio {
    display: inline-block;
}
.addresstyperadio label {
    cursor: pointer;
}
.custom-control-label {
    position: relative;
}
.custom-control-label::before {
    border-color: #0B9444;
}
 .custom-control-label::before {
    background-color: #fff !important;
}
.custom-control-label::after {
    background-color: #0B9444;
}
 .custom-control-label::after {
    height: 8px;
    width: 8px;
    background-image: none;
    border-radius: 50%;
    top: 36%;
    left: 7px;
}
.order-form .slider-button {
    margin-top: 25px;
}
.colorcodeclass {
    border:1px solid #0B9444;
    background-color: #0B9444!important;
    color: #000000!important;
}
.order-form .slider-button .btn {
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
    vertical-align: middle;
    padding: 7px 10px;
    text-transform: none;
}
.order-form .slider-button .btn svg {
    max-width: 32px;
    max-height: 32px;
    margin: 0 5px 0 0;
}
.vertical{
    /* width: 280px !important; */
    height: 100% !important;
    position: absolute;
    /* top:0;
    left:0; */
    background-color: #281326;
    padding: 5px 0px;
}
/* .more-padding{
    padding-left: 14rem;
} */
.position{
    position: absolute;
    top: 150px;
    left: 50px;
    position: fixed;
}
@media screen and (max-width:576px){
  .champaran {
    margin-bottom: 3rem!important;
    padding-top: 3rem!important;
  }
  .sider {
    padding-left: 2rem;
    padding-right: 2rem;
}
.ps{
    padding-left: 1rem!important;
}
.champaran h2 {
    margin-top: 1rem;
    font-size: 24px;
    line-height: 4.5rem;
    margin-bottom: 0rem;
    color: #262123;
    letter-spacing: -0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.champaran p {
    text-align: justify;
    margin-bottom: 1rem;
    color: #262123;
    font-size: 18px;
    line-height: 30px;
}
.mad-read-more {
    background-color: #e7c854;
    padding: 10px 15px;
    border-radius: 12px;
    color: #281326;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    line-height: 1.5rem;
    width: fit-content;
}
.food .card {
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    border: none;
}
.food h2 {
    margin-bottom: 0px;
    color: #fff;
    font-size: 30px;
    line-height: 4.5rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.mad-footer .mad-widget-title {
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.mad-social-icons ul li {
    padding: 0px 10px;
}
.mad-social-icons.size-big ul li a {
    font-size: 22px;
    color: #fff;
}
.mt{
    margin-top: 3rem!important;
}
.testimonial{
    padding: 0px!important;
}
.mad-testiomonial-info blockquote {
    font-size: 18px;
    line-height: 34px;
}
.mad-testiomonial-info {
    margin-bottom: 1rem;
}
.meet {
    text-align: justify;
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 40px;
}
.carousel-item img {
    height:450px!important;
}
.carousel-indicators [data-bs-target] {
    width: 41px;
}
.carousel-caption {
    bottom: 40%;
}
.slick-dots {
    bottom: 0px;
}
.slick-prev, .slick-next {
    width: 50px;
    top:35%;
}
.col-8 {
    flex: 0 0 auto;
    width: 88.666667%;
}
.mad-author cite {
    color: #281326;
    display: block;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 1.5rem;
}
.slick-prev::before, .slick-next::before {
    font-size: 16px;
    opacity: 1;
    color: #e7c854 !important;
}
.nav-item{
    margin-top: 1rem;
}
.article-text h1 {
    color: #fff;
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.pt{
    padding-top: 0px!important;
    padding-bottom: 1rem!important;
    padding-left: 2rem!important;
    padding-right:2rem!important;
}
.about-content h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
    letter-spacing: 0.5px;
}
.about-content p {
    margin-bottom: 0.8rem;
    font-size: 18px;
}
.px{
    padding-top:1rem!important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.order {
    font-size: 30px;
    line-height: 2rem;
    color: #262123;
    letter-spacing: 0.5px;
    margin-top: 1rem;
}
.mad-our-info.size-2 {
    font-size: 16px;
    line-height: 22px;
}
.mad-our-info.size-2 li i {
    font-size: 15px!important;
    margin-top: 4px!important;
}
.mad-tt-element {
    display: block;
    position: relative;
    background: #281326;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #e7c854;
    z-index: 1;
    margin-top: 2rem;
}
}
  
  
